body{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 100vh;
    border: 0px solid gray;
  text-align: center;
}
h1{
    font-size: 50px;
}
.first-q{
    width: 40%;
    height: 60px;
    border: 2px solid gray;
    margin: auto;
    padding-left: 10px;
    display: flex;
    text-align: left;
    box-shadow: 5px 10px 25px rgb(142, 223, 196);
}
h3{
    text-align: start;
}
.button{
   margin: auto;
   margin-right: 0.5rem;
    width: 30px;
    height: 15px;
    font-weight: bold;
    cursor: pointer;
}
.first-a{
    width: 41%;
    border: 2px solid gray;
    margin: auto;
    display: none;
    
}
.neg{
    font-weight: bold;
    text-align: end;
    margin-right: 2rem;
    cursor: pointer;
}
.sec-q{
    width: 40%;
    height: 60px;
    border: 2px solid gray;
    margin: auto;
    padding-left: 10px;
    display: flex;
    text-align: left;
    box-shadow: 5px 10px 25px rgb(142, 223, 196);
    margin-top: 1rem;
}
.sec-a{
    width: 41%;
    border: 2px solid gray;
    margin: auto;
    display: none;
}
.third-q{
    width: 40%;
    height: 60px;
    border: 2px solid gray;
    margin: auto;
    padding-left: 10px;
    display: flex;
    text-align: left;
    box-shadow: 5px 10px 25px rgb(142, 223, 196);
    margin-top: 1rem;
}
.third-a{
    width: 41%;
    border: 2px solid gray;
    margin: auto;
    display: none;
}

.forth-q{
    width: 40%;
    height: 60px;
    border: 2px solid gray;
    margin: auto;
    padding-left: 10px;
    display: flex;
    text-align: left;
    box-shadow: 5px 10px 25px rgb(142, 223, 196);
    margin-top: 1rem;
}
.forth-a{
    width: 41%;
    border: 2px solid gray;
    margin: auto;
    display: none;
}

.fifth-q{
    width: 40%;
    height: 60px;
    border: 2px solid gray;
    margin: auto;
    padding-left: 10px;
    display: flex;
    text-align: left;
    box-shadow: 5px 10px 25px rgb(142, 223, 196);
    margin-top: 1rem;
}
.fifth-a{
    width: 41%;
    border: 2px solid gray;
    margin: auto;
    display: none;
}